asgiref==3.11.1
asttokens==3.0.1
decorator==5.2.1
dj-database-url==3.1.2
Django==6.0.2
django-ranged-response==0.2.0
django-simple-captcha==0.6.3
executing==2.2.1
gunicorn==25.3.0
ipython==9.10.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
matplotlib-inline==0.2.1
packaging==26.0
parso==0.8.6
pexpect==4.9.0
pillow==12.1.1
pip==26.0.1
prompt_toolkit==3.0.52
psycopg2-binary==2.9.11
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.19.2
setuptools==82.0.0
sqlparse==0.5.5
stack_data==0.6.3
traitlets==5.14.3
typing_extensions==4.15.0
wcwidth==0.6.0
wheel==0.46.3
whitenoise==6.12.0
