{% extends "base.html" %}
{% load static %}

{% block title %}<title>管理員登入</title>{% endblock %}

{% block menu %}
    <a href="/logout/"><button class="base-button" type="button">登出</button></a>
{% endblock %}

{% block content %}
    <h2 style="color: #6e4a3f;">訂單</h2>
    <table class="all-coffee-table">
        <thead>
            <tr>
                <th>姓名</th>
                <th>熱 or 冰</th>
                <th>數量</th>
                <th>訂購時間</th>
                <th>編輯</th>
                <th>刪除</th>
            </tr>
        </thead>
        <tbody>
            {% for orditem in OrderItems %}
                <tr>
                    <td data-label="姓名">{{orditem.Oname}}</td>
                    <td data-label="熱 or 冰">{{orditem.Otemperature}}</td>
                    <td data-label="數量">{{orditem.Ocupnumber}}</td>
                    <td data-label="訂購時間">{{orditem.Oodertime}}</td>
                    <td data-label="編輯">
                        <a href="/orderedit/{{orditem.id}}/load/" title="編輯">編輯</a>
                    </td>
                    <td data-label="刪除">
                        <a href="/orderdelete/{{orditem.id}}/" title="刪除">刪除</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr width="100%" size="2" color="#6e4a3f" noshade>
    <h2 style="color: #6e4a3f;">咖啡豆清單</h2>
    <table class="all-coffee-table">
        <thead>
            <tr>
                <th>名稱</th>
                <th>咖啡行</th>
                <th>產地</th>
                <th>烘焙度</th>
                <th>價格</th>
                <th>今日咖啡</th>
                <th>編輯</th>
                <th>刪除</th>
            </tr>
        </thead>
        <tbody>
            {% for cbitem in CoffeeBeanItems %}
                <tr>
                    <td data-label="名稱">
                        <a href="{{cbitem.CBurl}}">{{cbitem.CBname}}</a>
                    </td>
                    <td data-label="咖啡行">{{cbitem.CBcoffeeshop}}</td>
                    <td data-label="產地">{{cbitem.CBplace}}</td>
                    <td data-label="烘焙度">{{cbitem.CBroasting}}</td>
                    <td data-label="價格">{{cbitem.CBprice}}</td>
                    <td data-label="今日咖啡">{{cbitem.CBcoffeetoday}}</td>
                    <td data-label="編輯">
                        <a href="/cafeedit/{{cbitem.id}}/load/" title="編輯">編輯</a>
                    </td>
                    <td data-label="刪除">
                        <a href="/cafedelete/{{cbitem.id}}/" title="刪除">刪除</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/cafeadd/"><button class="base-button" type="button">新增</button></a>
{% endblock %}