{% extends "base.html" %}
{% load static %}

{% block menu %}
    <a href="/index/" title="回首頁">
        <button class="base-button" type="button">回首頁</button>
    </a>
{% endblock %}

{% block content %}
    <table class="all-coffee-table">
        <thead>
            <tr>
                <th>姓名</th>
                <th>熱 or 冰</th>
                <th>數量</th>
                <th>訂購時間</th>
            </tr>
        </thead>
        <tbody>
            {% for oditem in OrderItems %}
                <tr>
                    <td data-label="姓名">{{oditem.Oname}}</td>
                    <td data-label="熱 or 冰">{{oditem.Otemperature}}</td>
                    <td data-label="數量">{{oditem.Ocupnumber}}</td>
                    <td data-label="訂購時間">{{oditem.Oodertime}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}